<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <title>Розетка2025 ::: Товари</title>
    <title data-locale="store.title" th:text="#{store.title}"></title>
</head>
<body>
<div class="lang_button_container">
    <button class="lang_button" data-locale="button.switch" th:text="#{button.switch}"></button>
</div>

<div class="wrapper">
    <div class="filter_pane" th:if="${showFilterPane}">
        <div class="price_filter_block">
            <strong data-locale="store.filters.price" th:text="#{store.filters.price}"></strong>
            <div id="price-slider" th:attr="data-min=${minPrice}, data-max=${maxPrice}"></div>
            <div class="price-values">
                <span id="min-price" th:text="${minPrice}"></span>
                <span id="max-price" th:text="${maxPrice}"></span>
            </div>
        </div>
        <div th:each="entry : ${attribMap}">
            <strong>[[${entry.key}]]</strong>
            <ul>
                <li th:each="val, iterStat : ${entry.value}">
                    <label th:for="'filter_' + ${iterStat.index}">
                        <input
                                th:id="'filter_' + ${iterStat.index}"
                                type="checkbox"
                                name="filterChecked"
                                th:value="${val}"
                                th:attr="data-filter=${entry.key}"
                                class="filter_checkbox"
                        />
                        [[${val}]]
                    </label>
                </li>
            </ul>
        </div>
    </div>


    <div id="products_container" class="content_area">
        <header>
            <h1 class="title" data-locale="admin.panel.title" th:text="#{admin.panel.title}"></h1>

            <!-- STATS BLOCK -->
            <div class="stats_block">
                <div class="stats_unit"><img class="stats_img" th:src="@{/img/order-icon.png}" th:title="Замовлень"/>
                </div>
                <div class="stats_unit" th:text="${ordersQuantity}"></div>
                <div class="stats_unit"><img class="stats_img" th:src="@{/img/car-icon.png}" th:title="Товарів"/></div>
                <div class="stats_unit" th:text="${productsQuantity}"></div>
                <div class="stats_unit"><img class="stats_img" th:src="@{/img/user-icon.png}" th:title="Користувачів"/>
                </div>
                <div class="stats_unit" th:text="${usersQuantity}"></div>
                <div class="stats_unit"><img class="stats_img" th:src="@{/img/green_euro_icon.png}"
                                             title="Вартість товарів"/>
                </div>
                <div class="stats_unit" th:text="'₴ '+${allProductsValue}"></div>
            </div>
            <!--version tab-->
            <h4 class="version_block" th:text="'v.' + ${@environment.getProperty('rozetka2025.store.version')}"></h4>
        </header>

        <!--MAIN MENU -->
        <div class="buttons_block">
            <form action="/" method="get">
                <button type="submit" class="button" th:data-locale="admin.mainmenu.home"
                        th:text="#{admin.mainmenu.home}"></button>
            </form>
            <form action="#" th:action="@{/users}" th:method="get">
                <button type="submit" class="button" th:data-locale="admin.mainmenu.users"
                        th:text="#{admin.mainmenu.users}"></button>
            </form>
            <form action="#" th:action="@{/orders}" th:method="get">
                <button type="submit" class="button" th:data-locale="admin.mainmenu.orders"
                        th:text="#{admin.mainmenu.orders}"></button>
            </form>
            <button onclick="openAddProductModal()" class="addProductButton"
                    th:data-locale="admin.mainmenu.addProduct" th:text="#{admin.mainmenu.addProduct}"></button>
        </div>

        <!-- ADD PRODUCT MODAL -->
        <div id="addProductModal" class="addProductModal">
            <div class="addProductModalBack">
                <h3>Додати товар</h3>
                <form th:action="@{/products/add}" method="post">
                    <label for="category_input">Категорія</label>
                    <select class="select_button" id="category_input" name="categoryName"
                            onchange="checkAddNew(this)">
                        <option th:each="cat : ${catList}" th:value="${cat}"
                                th:text="${cat}"></option>
                        <option value="__add__">:: Нова категорія ::</option>
                    </select><br><br>
                    <!-- Схований блок для додавання -->
                    <div id="addNewWrapper" style="display:none;" class="hiddenCatInput">
                        <input type="text" id="newValueInput" placeholder="Нова категорія">
                        <button onclick="addNewOption()">Додати</button>
                    </div>
                    <label>Назва:</label>
                    <input type="text" name="productName" required><br><br>
                    <label>Ціна:</label>
                    <input type="number" name="productPrice" step="1" title="[xx.yy]" required
                           pattern="\d+[.]?\d*"> ₴<br><br>

                    <div id="attributesContainer"></div>

                    <!-- Додавання нового атрибуту -->
                    <div id="newAttributeSection" style="display:none;">
                        <h4>Новий атрибут</h4>
                        <input type="text" id="newAttrName" placeholder="Назва атрибуту">
                        <input type="text" id="newAttrValue" placeholder="Значення">
                        <input type="text" id="newAttrUnit" placeholder="Одиниця виміру"><br>
                        <label for="newAttrType">Тип атрибута: </label>
                        <select id="newAttrType">
                            <option value="STRING">STRING</option>
                            <option value="NUMBER">NUMBER</option>
                            <option value="BOOLEAN">BOOLEAN</option>
                            <option value="SELECT">SELECT</option>
                        </select><br>
                        <button type="button" onclick="addNewAttribute()">Додати атрибут</button>
                    </div>

                    <button type="submit">Зберегти</button>
                    <button type="button" onclick="closeAddProductModal()">Скасувати</button>
                </form>
            </div>
        </div>

        <!--PRODUCTS READOUT SECTION-->
        <div class="products_header"></div>
        <table>
            <tr th:each="cat : ${catList}">
                <td>
                    <a th:href="@{/cat(catName=${cat})}" th:text="${cat}"></a>
                </td>
            </tr>
        </table>

        <div class="product" th:each="product : ${productList}">
            <div class="product_unit" th:text="'Код товару: ' + ${product.productCode}"></div>
            <b>
                <div class="product_unit" th:text="${product.productName}"></div>
            </b>
            <div class="product_unit" th:text="'Ціна: ' + ${product.productPrice} + ' ₴'"></div>
            <div class="product_unit"><img th:src="${product.imageUrl}" alt="Постер фільму"/></div>
            </br>
            <div class="product_unit" th:each="attribute : ${product.attributeList}">
                <td th:text="${attribute.attrName} + ': ' + ${attribute.attribValue} + ' ' + ${attribute.attribUnit}"></td>
                </tr>
            </div>
            </br>
            <div class="product_unit_vendor" th:data-vendor-id="${product.vendorCode}">Виробник:</div>

            <!--PRODUCT MODIFY ACTIONS BUTTONS-->
            <div class="product_solecard_action_buttons_block">
                <form action="#" th:action="@{'/products/'+${product.productCode}}" th:method="delete">
                    <button type="submit" class="delete_ico_orderlist" th:data-product-id="${product.productCode}">
                        <img th:src="@{/img/delete-button.png}" th:title="Видалити"/>
                    </button>
                </form>
                <button class="edit_ico_orderlist"
                        th:data-name="${product.productName}"
                        th:data-code="${product.productCode}"
                        th:data-price="${product.productPrice}">
                    <img th:src="@{/img/edit-button.png}" th:title="Редагувати">
                </button>
            </div>


            <!-- EDIT PRODUCT MODAL
            <div id="editProductModal" class="editProductModal">
                <div class="editProductModalBack">
                    <h3 th:text="'Редагувати товар ' + ${product.productCode}"></h3>
                    <form id="editForm" th:method="patch">
                        <label>Назва:</label>
                        <input type="text" name="productName" id="productName"><br><br>
                        <label>Ціна:</label>
                        <input type="number" name="productPrice" step="1" id="productPrice"
                               title="[xx.yy]"> ₴
                        <div id="drop-zone">Перетягни сюди фото або встав (Ctrl+V)</div>
                        <img id="preview" src="" alt="Попередній перегляд" hidden>
                        <br>
                        <button id="upload-btn" disabled>Завантажити</button>
                        <button type="submit">Оновити</button>
                        <button type="button" onclick="closeEditProductModal()">Скасувати</button>
                    </form>
                </div>
            </div>-->

            <!-- EDIT PRODUCT MODAL -->
            <div id="editProductModal" class="editProductModal">
                <div class="editProductModalBack">
                    <h3 th:text="'Редагувати товар ' + ${product.productCode}"></h3>
                    <form id="editForm" th:method="post" enctype="multipart/form-data">
                        <label>Назва:</label>
                        <input type="text" name="productName" id="productName"><br><br>
                        <label>Ціна:</label>
                        <input type="number" name="productPrice" step="1" id="productPrice" title="[xx.yy]"> ₴
                        <div id="drop-zone">Перетягни сюди фото або встав (Ctrl+V)</div>
                        <div id="preview-container"></div>
                        <br>
                        <button id="upload-btn" type="submit">Оновити</button>
                        <button type="button" onclick="closeEditProductModal()">Скасувати</button>
                    </form>
                </div>
            </div>


        </div>

        <!--CONTEXT ACTIONS BUTTONS-->
        <div class="buttons_block" th:unless="${productList.isEmpty()}">
            <form id="deleteAllProductsForm" action="#" th:action="@{/products}" th:method="delete">
                <button type="submit" class="caution_button" th:data-locale="admin.products.deleteAllProductsButton"
                        th:text="#{admin.products.deleteAllProductsButton}"></button>
            </form>
        </div>
        <div class="buttons_block" th:unless="${catList.isEmpty()}">
            <form id="deleteAllCatsForm" action="#" th:action="@{/cats}" th:method="delete">
                <button type="submit" class="caution_button" th:data-locale="admin.products.deleteAllButton"
                        th:text="#{admin.products.deleteAllButton}"></button>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">
       window.cat = [[${cat}]];
       window.minPrice = [[${minPrice}]];
       window.maxPrice = [[${maxPrice}]];


</script>

<script src="/js/filter.js"></script>
<script src="/js/priceSlider.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/locale.js"></script>
<script src="/js/eventListeners.js"></script>
<script src="/js/upload_image.js"></script>

</body>
</html>